$white-color: #ffffff;
$black-color: #000000;

$primary-color: #FF4444;
$secondary-color: #1B2727;
$secondary-color-2: #1b2738;
$text-color: #ffffff;

/*Screen sizes*/
$small-mobile: 480px;
$extra-small-mobile: 369px;
$small-desktop: 1350px;
/*Screen sizes*/

$sbo-slider-width: 825px;
$desktop-container-width: 1600px;